body {
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

/* background-image: url('ok.gif');
background-repeat: no-repeat;
background-size: cover;
background-position: center center; */ 
}
.navbar-brand
{
  color: bisque;
  
}
.clock {
    position: relative;
    height: 500px;
    width: 500px;
    background: white;
    box-sizing: border-box;
    border-radius: 100%;
    border: 35px solid #00A99E;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* background: radial-gradient(#125c98,black); */
    
}

.clock .twelve {
    position: absolute;
    width: 10px;
    height: 40px;
    background: #000;
    left: 10px;
    right: 0;
    margin: 0 auto;
   
}
.clock .six {
    position: absolute;
    width: 10px;
    height: 40px;
    background: #000;
    left: 0;
    right: 0;
    bottom:0;
    margin: 0 auto;
}
.clock .one {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #000;
    left: 50%;
    transform: rotate(30deg);
    right: 0;
    top:7%;
    margin: 0 auto;
}
.clock .two {
    position: absolute;
    width: 5px;
    height: 20px;
    background: #000;
    left: 85%;
    transform: rotate(60deg);
    right: 0;
    top:25%;
    margin: 0 auto;
}
.clock .eleven {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left: 0%;
  transform: rotate(330deg);
  right: 50%;
  top:7%;
  margin: 0 auto;
}
.clock .ten {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left: 0;
  transform: rotate(300deg);
  right: 85%;
  top:25%;
  margin: 0 auto;
}
.clock .seven {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left: 0%;
  transform: rotate(30deg);
  right: 45%;
  top:90%;
  margin: 0 auto;
}
.clock .eight {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left: 0;
  transform: rotate(50deg);
  right: 80%;
  top:75%;
  margin: 0 auto;
}
.clock .four {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left:  45%;
  transform: rotate(330deg);
  right:0%;
  top:90%;
  margin: 0 auto;
}
.clock .five {
  position: absolute;
  width: 5px;
  height: 20px;
  background: #000;
  left: 80%;
  transform: rotate(310deg);
  right: 0%;
  top:75%;
  margin: 0 auto;
}
.clock .nine {
  position: absolute;
  width: 10px;
  height: 40px;
  background: #000;
  left: 0%;
  transform: rotate(90deg);
  right: 91%;
  top:48%;
  margin: 0 auto;
}
.clock .three {
  position: absolute;
  width: 10px;
    height: 40px;
  background: #000;
  left: 91%;
  transform: rotate(90deg);
  right: 0;
  top:48%;
  margin: 0 auto;
}
.clock .center {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #000;
    left: 0;
    right: 0;
    bottom:49%;
    margin: 0 auto;
    border-radius: 50%;
}
.second-needle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: rotate 60s linear infinite ;
  }
.clock .second {
    background: rgb(219, 37, 37);
    height: 40%;
    left: 50%;
    position: absolute;
    top: 10%;
    border:2%;
    width: 1%;
    z-index: 8;
  }
  .min-needle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: rotate 1200s linear 30s infinite;
  }
.clock .min {
  background: blue;
    background: rgb(12, 12, 12);
    height: 30%;
    left: 50%;
    position: absolute;
    top: 20%;
    border:2%;

    width: 1.5%;
    
    z-index: 8;
  }
  .hr-needle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: rotate 2000s linear 60s infinite;
    
  }
.clock .hr {
  background: rgb(12, 12, 12);
  height: 20%;
  left: 50%;
  position: absolute;
  top: 29%;
  border:2%;
  width: 2%;
  z-index: 8;
  }
   
@keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }
  img{
      max-width: 100%;
      margin-bottom: 0%;
      padding-bottom: 0%;
  }

  @keyframes neonspark  {
    0% {
      text-shadow: none;
    }
    30% {
      text-shadow: 0 0 30px rgba(255,0,84,0.6);
    }
    60% {
      text-shadow: 0 0 30px rgba(255,0,84,0.6),
        0 0 60px rgba(255,0,84,0.4);
    }
    80% {
      text-shadow: none;
    }
    100% {
      text-shadow: 0 0 30px rgba(255,0,84,0.6),
       0 0 60px rgba(255,0,84,0.4), 
       0 0 100px rgba(255,0,84,0.2), 
       0 0 90px rgba(255,0,84,0.1);
    }
  }



