h1 {color: #fff;}
body
{
    background: #90EE90;
}
.container{
        margin: 0 auto;
        }  
.calc-container {
		padding: 25px;
		background: #363535;
		width: 300px;
		border-radius: 20px;
		box-shadow: 10px 10px 5px #888888;	   
		-moz-box-shadow: 10px 10px 5px #888888;
		-webkit-box-shadow: 10px 10px 5px #888888;
		margin: 10px auto;
        }
#box {
        width:100%; 
        height: 25px; 
        border:1px solid rgb(53, 52, 52); 
        border-bottom: 1px solid #ddded9;
        background: #ddded9; 
        font-size: 20px; 
        text-align: right;
        color: rgb(89, 88, 97);
		margin: 0 auto;
	
        }
#boxok {
            width:100%; 
            height: 50px; 
            border:1px solid #ddded9; 
            border-left: 1px solid rgb(53, 52, 52);
            border-right: 1px solid rgb(53, 52, 52);
            background: #ddded9; 
            font-size: 40px; 
            text-align: right;
            color: rgb(89, 88, 97);
            margin: 0 auto;
        
            }  
       
.btn-container {
		margin: 15px 5px;
		/* background: #7bb0d3; */
        background: #666;
}

.btn {
		height: 50px;
		width: 50px;
        padding: 15px; 
        background: rgb(216, 213, 213); 
        color: #000; 
		border: none;
        margin: 8px;
        margin-left: 15x; 
        font-size: 20px; 
        border-radius: 5px;   
		box-shadow: 1px 1px 1px #000;
	    -moz-box-shadow: 1px 1px 1px #000;
	    -webkit-box-shadow: 1px 1px 1px #000;
        }

.btn:hover {background-color: rgb(177, 173, 173)}

.btn:active {
  background-color: rgb(216, 213, 213);
  box-shadow: 0 5px rgb(56, 56, 56);
  transform: translateY(2px);
}
.solvebtn {
		width:120px;
		background: #ffbb4f;
        color: #000;
}
.solvebtn:hover {background-color: #ffbb4f;}

.solvebtn:active {
  background-color: #ffbb4f;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.cbtn {
		background: #ffbb4f; 
}
.cbtn:hover {background-color: #ffbb4f}

.cbtn:active {
  background-color: #ffbb4f;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

